<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/general/head'); -%>
</head>
<body>
    <%- include('../partials/general/navbar'); -%>
</body>
<%- include('../partials/general/footer'); -%>
</html>